extends ../exten/maintemp.jade

block content
	.side-left.side-left-shotest
		h2.cont-title testimonials
		blockquote.blockquote
			q.quote
				| ...Aeri aseaque ab illo invento ate ativerte aras architeo ba...
			| John Franklin
		blockquote.blockquote
			q.quote
				| ...Seaque ab illo invento ativerte aras architeo bamolu bertas...
			| Marta Healy
		blockquote.blockquote
			q.quote
				| ...Seaque ab illo invento ate ativerte aras architeo bateres dollor...
			| Alan Smith
		a(href="#").more  more testimonials
	.side-right.side-right-wide
		h2.cont-title a few words about us
		.content__box.content__box_padding-bootom 
			p.
				Seaque ab illo invento ate ativerte aras architeo bait autquuntur magni dolore!
				eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur.
		img(src="#{path_img}/img1.jpg" style="width:116px;height:70px;float:left;padding: 0 18px 18px 0;")
		p.
			Ate ativerte aras architeo bait autquuntur magni dolore! Eos, qui ratione voluptatem sequi sciunt, neque porro quisquam est, qui.
		a.more read more
		ul.list-colum
			li.list-colum__item
				a(href="#").list-colum__item__link.
					Dum vitae,dapibus ac celerisqu
			li.list-colum__item
				a(href="#").list-colum__item__link.
					Dum vitae,dapibus ac celerisque
			li.list-colum__item
				a(href="#").list-colum__item__link.
					Pede donec eget tellus non
			li.list-colum__item
				a(href="#").list-colum__item__link.
					Pede donec eget tellus non