extends ../exten/maintemp.jade

block content
		h2.cont-title privacy policy  
		.cont-text.cont-text_privacy
			p.
				Lotamrem aperi aseaque ab illo invento ativert aras architeo bamolu at bertas ptatemquia voluptait aspernraut odit autqu.
				untur magni dolore ser eos, qui ratione voluptatem sequi nesciunt, neq. ue porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labo.
			p.
				Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur. Lotamrem aperi aseaque ab illo invento ativert aras architeo bamolu at bertas ptatemquia voluptait.
			p.
				Aspernraut odit autqu. Untur magni dolore ser eos, qui ratione voluptatem sequi nesciunt, neq. ue porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. ut enim ad minima veniam, quis nostrum exercitati.
			a(href="mailto:privacy@companyname.com").link privacy@companyname.com