extends ../exten/maintemp.jade

block content
	.side-left.side-left-wide
		.content__box.content__box_line
			h2.cont-title services overview  
			p.
				Lotamrem aperi aseaque ab illo invento ativert aras architeo bamolu at bertas ptatemquia voluptait aspernraut odit autqu.
			a.more read more
		h2.cont-title special offers
		img(src="#{path_img}/img1.jpg" style="width:116px;height:70px;float:left;padding: 0 18px 18px 0;")
		ul.list
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisqu
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisque
			li.list__item
				a(href="#").list__item__link.
					Pede donec eget tellus non
	.side-right.side-right-shotest
		h2.cont-title available services
		ul.list
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisqu
			li.list__item
				a(href="#").list__item__link.
					Pede donec eget tellus non
			li.list__item
				a(href="#").list__item__link.
					Erat acinia fermentum onec in vel hasel
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisque
			li.list__item
				a(href="#").list__item__link.
					Pede donec eget tellus non
			li.list__item
				a(href="#").list__item__link.
					Erat acinia fermentum onec in vel res
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisque
			li.list__item
				a(href="#").list__item__link.
					Pede donec eget tellus non
			li.list__item
				a(href="#").list__item__link.
					Erat acinia fermentum onec in vel ate
			li.list__item
				a(href="#").list__item__link.
					Dum vitae,dapibus ac celerisque
			li.list__item
				a(href="#").list__item__link.
					Pede donec eget tellus non erat acinia 
